<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_case_suite">
    <classes>
      <class name="test_01.Assisment_project.Test_cases"/>
    </classes>
  </test> <!-- Test_case_suite -->
</suite> <!-- Suite -->
